{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALSEN</title>

    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/ressources/styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/contenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/sidebar-right.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/slide.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ressources/styles/lightbox.min.css' %}">

</head>
<body>
    
    <!-- ==================== Le haut, Header en Mode Fixe ==================== -->
    <section class="header" id="header">
        <!-- ===== Le NavBar ===== -->
        <nav class="nav contenu">

            <button id="boutonRetour">
                <i class="fa fa-arrow-left" aria-hidden="true"> Retour </i>
            </button>

            <div id="header-toggle">
                
                <div class="conta_menu">
                    <span class="fa fa-bars"></span>
                </div>

            </div>
                <!-- ===== Fin Des Menus ===== -->
                <!-- ===== Fin de Img Profile ===== -->
        </nav>
        <!-- ===== Fin du NavBar ===== -->
    </section>
    <!-- ==================== Fin du haut, Header en Mode Fixe ==================== -->


    <!-- ==================== Sidebar ==================== -->
    <section class="sidebar" id="nabbar">
        <div class="logo">
            {% if CustomUser.profile_image and CustomUser.profile_image.url %}
                <img src="{{ CustomUser.profile_image.url }}" alt="logo">
            {% else %}
                    <img src="{% static 'assets/default/user.png' %}"class="nav_img">
            {% endif %}
            <h2> {{ CustomUser.first_name }} {{ CustomUser.last_name }} <span class="primary">{{ CustomUser.username }}</span> </h2>
        </div>
        <ul class="links">
        <h4>Menu</h4>
        <li>
            <span class="fa fa-file-photo-o"></span>
            <a href="update_banner"> Photo de couverture </a>
        </li>
        <li>
            <span class="fa fa-image"></span>
            <a href="update_profile"> Photo de Profil </a>
        </li>
        <li>
            <span class="fa fa-home"></span>
            <a href="ec_profile"> Vos Posts </a>
        </li>
        <li>
            <span class="fa fa-handshake-o"></span>
            <a href="ec_job"> Vos Offres </a>
        </li>

        <hr>
        <h4> Avancé </h4>

        <li>
            <span class="fa fa-money"></span>
            <a href="#"> Porte Monnaie </a>
        </li>

        <li>
            <span class="fa fa-dashboard"></span>
            <a href="#"> Gestion </a>
        </li>
        <li>
            <span class="fa fa-line-chart"></span>
            <a href="#">Rapport de vos postes</a>
        </li>
        <hr>
        <h4> Votre Compte </h4>
        <li>
            <span class="fa fa-bar-chart-o"></span>
            <a href="#"> Analyser votre compte </a>
        </li>
        <li>
            <span class="fa fa-envelope"></span>
            <a href="#"> Votre Box </a>
        </li>
        <li>
            <span class="fa fa-cogs"></span>
            <a href="#"> Paramétres </a>
        </li>
        </ul>
    </section>
    <!-- ==================== End Sidebar ==================== -->

    <!-- Contenu -->
    <main class="middle">
        <section class="center">
            <section class="posts">
                
                <!-- ======== Image Profile ============= -->
                <section class="image_profile">
                    <div>
                        {% if CustomUser.banner_image and CustomUser.banner_image.url %}
                            <a href="{{ CustomUser.banner_image.url }}"  data-lightbox="mygallery" class="banner">
                                <img src=" {{ CustomUser.banner_image.url }}" alt="">
                            </a>
                        {% else %}
                            <a href="{% static 'assets/default/user.png' %}"  data-lightbox="mygallery" class="banner">
                                <img src="{% static 'assets/default/user.png' %}">
                            </a>
                        {% endif %}
                    </div>
                        {% if CustomUser.profile_image and CustomUser.profile_image.url %}
                            <a href="{{ CustomUser.profile_image.url }}"  data-lightbox="mygallery" class="photo">
                                    <img src="{{ CustomUser.profile_image.url }}" alt="">
                                <h2> {{ CustomUser.first_name }} {{ CustomUser.last_name }} <p class="primary"> {{ CustomUser.username }} </p> </h2>
                            </a>
                        {% else %}
                        <a href="{% static 'assets/default/user.png' %}"  data-lightbox="mygallery" class="photo">
                            <img src="{% static 'assets/default/user.png' %}">
                            <h2> {{ CustomUser.first_name }} {{ CustomUser.last_name }} <p class="primary"> {{ CustomUser.username }} </p> </h2>
                        </a>
                        {% endif %}
                    
                </section>

                <br>
                <div class="Followers_number">
                    <div class="numbers">
                        <div class="numbers_Abonnement">
                            <a href="#"><i>Abonne...:</i> <span>5 000</span> &nbsp; </a>
                        </div>
                    
                        <div class="numbers_Abonne">
                            <a href="#"><i>&nbsp;| Abonnés:</i> <span>5 000</span> &nbsp;| </a>
                        </div>
                    
                        <div class="numbers_like">
                            <a href="#">&nbsp;<i class="fa fa-heart danger">&nbsp;Likes:</i> <span>5 000</span></a>
                        </div>
                    </div>
                </div>

                <div class="temoin">
                    <hr class="divider">
                </div>

                <!-- ============ A Propos ================= -->
                <br>
                <section class="list-propos">
                    <div class="propos-list">
                        <a href="#">
                            <i class="fa fa-briefcase"></i>
                            <span> {{ CustomUser.rôle|upper }} </span>
                        </a>

                        <a href="#">
                            <i class="fa fa-graduation-cap"></i>
                            <span> {{ CustomUser.metier }} </span>
                        </a>

                        <a href="#">
                            <i class="fa fa-map-marker"></i>
                            <span> {{ CustomUser.pays }} ({{ CustomUser.ville }}) </span>
                        </a>

                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span> {{ CustomUser.quartier }} </span>
                        </a>

                        <a href="#">
                            <i class="fa fa-flag"></i>
                            <span> {{ CustomUser.langue }} </span>
                        </a>

                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            <span> {{ CustomUser.email }} </span>
                        </a>

                        <a href="#">
                            <i class="fa fa-phone"></i>
                            <span>+{{ CustomUser.indicatif_pays }} {{ CustomUser.number_phone }} </span>
                        </a>

                        <a href="https://wa.me/{{ CustomUser.indicatif_pays }}{{ CustomUser.number_whatsapp }}">
                            <i class="fa fa-whatsapp"></i>
                            <span> {{ CustomUser.number_whatsapp }} </span>
                        </a>

                        <a href="https://wa.me/{{ CustomUser.indicatif_pays }}{{ CustomUser.number_whatsapp }}">
                            <i class="fa fa-telegram"></i>
                            <span> {{ CustomUser.number_telegram }} </span>
                        </a>

                        <br>

                        <a href="update" class="danger">
                            <label class="fa fa-edit danger"></label>
                            <span class="danger"> Modifier votre Statut... </span>
                        </a>

                    </div>
                </section>

                <div class="temoin">
                    <br>
                    <hr class="divider">
                </div>


                <br>
                
                <button class="Profilage"> 
                    <a href="a_propos"> 
                        Savoir Plus sur Votre Ecole
                    </a>
                </button>
                    {% for post in CustomUser.post_set.all|dictsortreversed:'date_creation_post' %}
                        <section class="actuality">
                            <section class="profile">
                                <a href="#" class="user_infos">
                                    <div class="user_Photo">
                                        {% if post.user.profile_image and post.user.profile_image.url %}
                                                <img src="{{ post.user.profile_image.url}}">
                                            {% else %}
                                                <img src="{% static 'assets/default/user.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="user_details">
                                        <div class="name">
                                            <h3 class="name-user">
                                                {{ post.user.first_name }} {{ post.user.last_name }} 
                                            </h3>
                                        </div>
                                        <div class="user_localhome">
                                            <span class="fa fa-map-marker"> 
                                                <b>{{ post.user.quartier }}  - {{ post.user.ville }}  - {{ post.user.pays }}</b> 
                                            </span>
                                        </div>
                                        <div class="time_post">
                                            <span class="primary fa fa-clock-o"> {{ post.date_creation_post }} </span>
                                        </div>
                                    </div>
                                </a>
                                <div class="action">
                                    <div><i class="fa fa-ellipsis-h"></i></div>
                                    <ul>
                                        <li class="current"><a href="{% url 'update_post' id=post.id %}">Modifier</a></li>
                                        <li><a href="{% url 'delete_post' id=post.id %}">Supprimer</a></li>
                                    </ul>
                                </div>
                            </section>

                            <section class="content_post">
                                <div class="content-post">
                                    <div class="title">
                                        List One List
                                    </div>
                                    <div class="description-post">
                                        <p>
                                            {{ post.contenu_post|safe }}
                                        </p>
                                    </div>
                                </div>
                                <div class="post-details">
                                    <div class="contenu">
                                        <p>Partager avec</p>
                                        <ul class="icons">
                                            <a href="#"><i class="fa fa-facebook-f"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                                            <a href="#"><i class="fa fa-commenting-o"></i></a>
                                        </ul>
                                        <p>Ou copier le lien</p>
                                        <div class="field">
                                            <i class="fa fa-link"></i>
                                            <input type="text" readonly value="omarou">
                                            <button>Copier</button>
                                        </div>
                                    </div>
                                    {% for media in post.mediaspost_set.all %}
                                        {% if media.image %}
                                            <a href="{{ media.image.url }}" data-lightbox="mygallery" class="img">
                                                <img src="{{ media.image.url }}" class="affiche" alt="Post Image">
                                            </a>
                                        {% endif %}
                                    {% endfor %}

                                    {% if post.video %}
                                        <video autoplay muted controls loop disablepictureinpicture controlslist="nodownload noplaybackrate" class="img affiche">
                                            <source src="{{ post.video.url }}" type="video/mp4">
                                        </video>
                                    {% endif %}
                                </div>
                            </section>
                            
                            <div class="infos_followings">
                                <section class="like">
                                    <a href="#">
                                        <i class="fa fa-thumbs-up danger"></i>
                                        <i class="text"> Aimé par</i> 
                                        <b class="primary">8 000</b>
                                        <i class="text">membres. &nbsp;</i>
                                    </a>
                                </section>

                                <section class="shares">
                                    <a href="#">
                                        <i class="fa fa-share-alt danger"></i>
                                        <i class="text">Et partagé par</i> 
                                        <b class="primary">8 000</b>
                                        <i class="text">membres.</i>
                                    </a>
                                </section>
                            </div>

                            <section class="followers">
                                <a href="#" class="like-btn" onclick="toggleLike()">
                                    <span class="like-icon" id="likeIcon">
                                        <i class="fa fa-thumbs-up" ></i>
                                    </span>
                                </a>

                                <a href="{% url 'post_comments' post.id %}">
                                    <i class="fa fa-comments">
                                        <span class="primary" style="font-weight: bold;">
                                            {% if post.nombre_commentaire > 1000 %}
                                                {{ post.nombre_commentaire|divisibleby:1000|floatformat:"0.1" }}k
                                            {% else %}
                                                {{ post.nombre_commentaire }}
                                            {% endif %}
                                        </span>
                                    </i>
                                </a>

                                <a href="#" id="pop-share">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </section>
                            

                        </section>
                    {% endfor %}

            </section>
    
            {% include 'users/Ecole/layouts/sidebar.html' %}
        </section>
    </main>

    

    <script src="{% static 'assets/ressources/scripts/profile.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/header.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/post.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/sidebar-right.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/lightbox-plus-jquery.min.js' %}"></script>
    <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
    <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
</body>
</html>