@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Variable CSS */
:root
{
    --header-height: 3rem;

    

    /* font and typography */
    --body-font: 'Open Sans', sans-serif;

    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

h1
{
    font-size: 2.2rem;
}

h2
{
    font-size: 1.5rem;
}

h3
{
    font-size: 1.2rem;
}

h4
{
    font-size: 1rem;
}

h5
{
    font-size: 0.86rem;
    font-weight: 500;
}

h6
{
    font-size: 1.76rem;
}

p
{
    font-size: 00.86rem;
    color: var(--title-color);
}

small
{
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted
{
    color: gray;
}

.blanc
{
    color: var(--title-color);
}

.primary
{
    color: #299bd5;
    /* rgb(71, 7, 234) */
}

.danger
{
    color: var(--color-danger);
}

.success
{
    color: rgb(34, 202, 75);
}

.purple
{
    color: rgb(160, 99, 245);
}

.bg-primary
{
    background: #299bd5;
    /* rgb(71, 7, 234) */
    box-shadow: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
}

.bg-danger
{
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
}

.bg-success
{
    background: rgb(34, 202, 75);
    box-shadow: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
}

.bg-purple
{
    background: rgb(160, 99, 245);
    box-shadow: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
}

.bg-dark
{
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.normal
{
    color: var(--body-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme
{
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
    --container-color: hsl(var(--hue),24%, 12%);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    display: flex;
    align-items: center;
    background: #272727;
}

.black
{
    color: #299bd5;
    font-weight: bold;
}

.container
{
    width: 500px;
    max-width: 600px;
    margin: auto;
}

.chat
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--body-color);
}

.chat-header
{
    display: flex;
}

.profile
{
    width: 100%;
    background: #299bd5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: relative;
}

.profile .left
{
    display: flex;
    padding: 5px;
}

.profile .left a
{
    text-decoration: none;
    color: var(--body-color);
    width: 30px;
    display: flex;
    align-items: center;
}

.profile .left img
{
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 2.5px solid #299bd5;
    object-fit: cover;
}

.profile .left .details
{
    padding: 5px;
}

.profile .left .details h2
{
    font-size: 15px;
    color: var(--body-color);
}

.profile .left .details span
{
    font-size: 10px;
    color: var(--color-danger);
}

.profile .right
{
    display: flex;
    align-items: center;
}

.profile .right a
{
    width: 35px;
    text-decoration: none;
    color: var(--body-color);
}

.chat-commande
{
    display: inline-block;
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.chat-commande::-webkit-scrollbar
{
    display: none;
}

.chat-r
{
    display: block;
    padding: 5px;
}

.boutique p
{
    padding: 10px;
}

.gallery
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .images
{
    gap: 15px;
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    columns: 5 140px;
}

.images .card
{
    display: flex;
    overflow: hidden;
    position: relative;
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    box-shadow: 0.8rem 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.images .card .product-comments img
{
    width: 100%;
    height: 100%;
}

.messages
{
    margin: 10px;
    margin-bottom: 30px;
}

.message_boutique
{
    width: 300px;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    background: #b3b3b3;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.message_boutique h3
{
    display: flex;
    align-items: center;
}

.message_boutique h3 img
{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 2.5px solid #299bd5;
    object-fit: cover;
}

.message_boutique p
{
    margin-top: 5px;
}

.message_boutique p img
{
    width: 100%;
    height: 140px;
    margin-top: 5px;
    object-fit: cover;
}

.message_client h3
{
    display: flex;
    align-items: center;
    color: #fff;
}

.message_client h3 img
{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 2.5px solid var(--color-danger);
    object-fit: cover;
}

.message_client
{
    float: right;
    width: 300px;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    background: #716f6f;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.message_client p
{
    color: #fff;
    margin-top: 5px;
}

.message_client p img
{
    width: 100%;
    height: 140px;
    margin-top: 5px;
    object-fit: cover;
}

.chat-footer
{
    display: flex;
}

.chat-footer .forms
{
    width: 100%;
    background: #299bd5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: relative;
}



#imagePreview {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: -105px;
    left: 62%;
}

.preview-item {
    margin: 5px;
    position: relative;
}

.preview-item img 
{
    max-width: 100px;
    max-height: 100px;
    border: 1px solid var(--color-danger);
    border-radius: 5px;
}

#imageInput
{
    display: none;
}

.delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 50%;
}

.chat-footer .left
{
    display: flex;
}

.chat-footer .left .emo
{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.chat-footer .left .emo i
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #fff;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 2.5px solid #fff;
    border-radius: 50%;
}

.chat-footer .left textarea 
{
    position: fixed;
    bottom: 0;
    left: 46%;
    transform: translateX(-50%);
    max-width: 90%;
    width: 300px;
    resize: none;
    height: 60px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: 21px solid var(--color-danger);
    border: 1px solid #bfbfbf;
    background: #299bd5;
    color: var(--body-color);
    font-weight: bold;
    border: 2.5px solid #299bd5;
}

.chat-footer .left textarea::placeholder
{
    color: #ffffffc6;
}

.chat-footer .left textarea::-webkit-scrollbar
{
    width: 7px;
}

.chat-footer .left textarea::-webkit-scrollbar-track
{
    background: var(--body-color);
    border-radius: 25px;
}

.chat-footer .left textarea::-webkit-scrollbar-thumb
{
    background: var(--title-color);
    border-radius: 25px;
}

.chat-footer .left textarea::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

@media (max-width: 600px) {
    .chat-footer .left textarea {
        width: 62%;
        left: 41%;
        max-width: 95%;
        padding-right: 20px;
    }
}


.chat-footer .right
{
    display: flex;
}

.chat-footer .right label
{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--body-color);
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 1.5px solid #fff;
    z-index: 1;
}

.chat-footer .right button
{
    text-decoration: none;
    border: none;
    background: #299bd5;
    color: var(--body-color);
    font-style: none;
    font-size: 30px;
    margin-right: 12px;
    cursor: pointer;
}

.chat-footer .right button i
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: #fff;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25),
                inset 2px 2px 5px rgba(255, 255, 255, 0.778),
                inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border: 2.5px solid #fff;
    border-radius: 50%;
}