@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --hue-color: 240;
  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: #fa5252;
  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;
}

#boutonRetour {
  position: relative;
  overflow: hidden;
  left: 13%;
  cursor: pointer;
  top: 5px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--title-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #299bd5;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.778), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
}

#boutonRetour:hover {
  opacity: 0.8;
  transition: 0.3s;
  content: '';
  background: var(--color-danger);
  color: #fff;
  font-weight: bold;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.778), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

#boutonRetour:active {
  transform: translateY(5px);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  page-break-inside: avoid;
}

header {
  text-align: center;
  margin-bottom: 30px;
  page-break-after: avoid;
}

.profile,
.experience,
.education {
  margin-bottom: 30px;
  page-break-inside: avoid;
}

.profile p a {
  text-decoration: none;
  color: #000000;
}

.section-header {
  border-bottom: 2px solid #299bd5;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-header h2 a {
  text-decoration: none;
}

.section-header h2,
h1 {
  color: #299bd5;
}

h3 {
  color: #fa5252;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

li a {
  text-decoration: none;
}

li a p {
  color: #000000;
}

footer {
  bottom: 0;
  text-align: center;
  margin-top: 30px;
  page-break-after: always;
}

footer p {
  color: #b4b4b4;
}

/* Styles pour les écrans de largeur maximale de 600px */
@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  #boutonRetour {
    left: 5%;
  }
}

/* Styles pour les écrans de largeur entre 601px et 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
  }
}

/* Styles pour les écrans de largeur supérieure à 1024px */
@media (min-width: 1025px) {
  .container {
    max-width: 800px;
  }
}
