{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Réponses</title>
        <link rel="stylesheet" href="{% static 'assets/ressources/styles/comments.css' %}">

        <!-- Box Icone -->
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

    </head>
    <body>
        
        <div class="container">
            <div class="chat">

                <div class="chat-header">
                    <div class="profile">
                        <div class="left">
                            <a href="#" id="boutonRetour">
                                <i class="fa fa-arrow-left arrow"></i>
                            </a>
                            {% for media in comment.mediaspost_set.all %}
                                {% if media.image != None %}
                                    <img src="{{ media.image.url }}" class="profile">
                                {% endif %}
                            {% endfor %}
                            <div class="details">
                                <h2>{{ comment.contenu_commentaire|safe|truncatewords_html:1.8 }}</h2>
                                <span>Les réponses...</span>
                            </div>
                        </div>
                        <div class="right">

                            <a href="#">
                                <i class="fa fa-ellipsis-v icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="chat-box">

                    {% for response in responses %}
                        <div class="chat-r">
                            <div class="mess mess-r">
                                <span>
                                    <a href="#"> 
                                        {% if user.profile_image and user.profile_image.url %}
                                            <img src="{{ response.user.profile_image.url }}" class="auteur">
                                        {% else %}
                                            <img src="{% static 'assets/default/user.png' %}"class="auteur">
                                        {% endif %}
                                    </a>
                                    <p>
                                        <i class="black">{{ response.user.first_name }} {{ response.user.last_name }}:</i>

                                            {% if response.image %}
                                                <img src="{{ response.image.url }}" class="ImgComment">
                                            {% endif %}
                                        <b>
                                            {{ response.contenu_text }}
                                        </b>

                                        <span>{{ response.date_creation }} | 
                                            <a href="#" class="comment_or_response">
                                                Répondre 
                                                <span class="primary" style="font-weight: bold;">
                                                    {% if response.nombre_response > 1000 %}
                                                        {{ reponse.nombre_response|divisibleby:1000|floatformat:"0.1" }}k
                                                    {% else %}
                                                        {{ response.nombre_response }}
                                                    {% endif %}
                                                </span>
                                            </a>
                                        </span>
                                        <b><a href="#">Réaction: <img src="assets/images/pic-4.png" class="reaction"> <img src="assets/images/pic-4.png" class="reaction"> <img src="assets/images/pic-4.png" class="reaction"> <img src="assets/images/pic-4.png" class="reaction"></a> </b>
                                    </p>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="chat-footer">
                    <form class="forms" method="post" action="{% url 'comment_responses' comment_id=comment.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="imagePreview" class="preview"></div>
                        <input type="file" id="imageInput" name="image" accept="image/*" onchange="previewFiles('imageInput', 'imagePreview', 3)">
                        <div class="left">
                            <a class="emo" id="emojiButton">
                                <i class="fa fa-smile-o"></i>
                            </a>
                            
                            <textarea id="commentTextarea" spellcheck="false" placeholder="Votre responseaire..." name="contenu_text" required></textarea>
                            
                            <emoji-picker for="commentTextarea"></emoji-picker>
                            
                        </div>
                        
                        <div class="right">
                            <label for="imageInput">
                                <img src="{% static 'assets/categories/gallery.svg' %}" alt="">
                            </label>

                            <button type="submit"><i class="fa fa-send"></i></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <script src="{% static 'assets/ressources/scripts/chats.js' %}"></script>
        <script src="{% static 'assets/ressources/scripts/theme.js' %}"></script> 
        <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
        <!-- <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script> -->
        <script type="module" src="{% static 'node_modules/emoji-picker-element/picker.js' %}" defer></script>

    </body>
</html>