{% load static %}
<section>
    <form action="" class="search">
        <input type="search" name="job" id="search-input" placeholder="Rechercher Filtrer"
        />
        <button type="submit" class="button">
            <i class="fa fa-search"> Search </i>
        </button>
    </form>
    
</section>

<section class="slider pubPolitique">
    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner.png' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner3.jpeg' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner4.jpeg' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner5.jpg' %}">
        </a>
    </div>

    <div class="prev-button" onclick="plusSlideP(-1)">&#10094;</div>
    <div class="next-button" onclick="plusSlideP(1)">&#10095;</div>

    <div class="lines PageLines">
        <div class="line_P" onclick="currentSlideP(1)"></div>

        <div class="line_P" onclick="currentSlideP(2)"></div>

        <div class="line_P" onclick="currentSlide(3)"></div>

        <div class="line_P" onclick="currentSlide(4)"></div>
    </div>
</section>

<section class="posts professionnals">

    {% for job in jobs %}

        <a href="#" class="users">
            <div class="couverture">
                {% if job.user.bannner_image and job.user.banner_image.url %}
                        <img src="{{ job.user.banner_image.url}}">
                    {% else %}
                        <img src="{% static 'assets/default/user.png' %}">
                {% endif %}
            </div>
            <div class="user_profile">
                {% if job.user.profile_image and job.user.profile_image.url %}
                        <img src="{{ job.user.profile_image.url}}" class="enligne">
                    {% else %}
                        <img src="{% static 'assets/default/user.png' %}" class="enligne">
                {% endif %}
                <div class="name_job_country">
                    <h3 class="name">{{ job.title|safe }}</h3>
                    <h4 class="job">
                        <i class="fa fa-handshake-o danger"></i>
                        <span>|</span>
                        {{ job.contenu_job|truncatewords_html:1 }}
                    </h4>
                    <h5 class="country">
                        <i class="fa fa-map-marker text-muted"></i>
                        {{ job.user.pays }}, {{ job.user.ville }}, {{ job.user.quartier }}
                    </h5>
                    <br>
                    <h5 class="job_date"> 
                        <i class="primary fa fa-clock-o"></i>
                        <p class="normal"> Posté le <i> {{ job.date_creation_post|date:"d F Y à H:i" }} </i> </p> 
                    </h5>
                </div>
            </div>
        </a>

    {% endfor %}

</section>