{% load static %}
<section>
    <form class="search">
        <input type="search" name="poste" id="search-input" placeholder="Rechercher Filtrer"
        />
        <button type="submit" class="button">
            <i class="fa fa-search"> Search </i>
        </button>
    </form>
    
</section>

<section class="slider pubPolitique">
    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner.png' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner3.jpeg' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner4.jpeg' %}">
        </a>
    </div>

    <div class="sliderP">
        <a href="#">
            <img src="{% static 'assets/default/banner5.jpg' %}">
        </a>
    </div>

    <div class="prev-button" onclick="plusSlideP(-1)">&#10094;</div>
    <div class="next-button" onclick="plusSlideP(1)">&#10095;</div>

    <div class="lines PageLines">
        <div class="line_P" onclick="currentSlideP(1)"></div>

        <div class="line_P" onclick="currentSlideP(2)"></div>

        <div class="line_P" onclick="currentSlide(3)"></div>

        <div class="line_P" onclick="currentSlide(4)"></div>
    </div>
</section>

<section class="posts">

    {% if posts %}

        {% for post in posts %}

            <section class="actuality">
                <section class="profile">
                    <a href="{% url 'user_detail' pk=post.user.id %}" class="user_infos">
                        <div class="user_Photo">
                            {% if post.user.profile_image and post.user.profile_image.url %}
                                <img src="{{ post.user.profile_image.url}}" class="enligne">
                            {% else %}
                                <img src="{% static 'assets/default/user.png' %}" class="enligne">
                            {% endif %}
                        </div>
                        <div class="user_details">
                            <div class="name">
                                <h3 class="name-user">
                                    {{ post.user.first_name }} {{ post.user.last_name }} 
                                </h3>
                            </div>
                            <div class="user_localhome">
                                <span class="fa fa-map-marker"> 
                                    <b>{{ post.user.quartier }}  - {{ post.user.ville }}  - {{ post.user.pays }} </b> 
                                </span>
                            </div>
                            <div class="time_post">
                                <span class="fa fa-clock-o">&nbsp;<i class="primary">Posté le {{ post.date_creation_post }},</i></span>
                                &nbsp;
                                <span class="fa fa-desktop">&nbsp;
                                    <i class="primary">depuis un systéme</i> 
                                    <b class="danger">{{ post.session_info }}</b> 
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="action">
                        <a href="#" class="danger Suivre">Suivre?</a>

                        <!-- <a href="#" class="text-muted Demande">Demande Envoyée</a> -->

                        <!-- <a href="#" class="primary Ami">Ami(e)</a> -->
                    </div>
                </section>

                <section class="content_post">
                    <div class="content-post">
                        <div class="title">
                            {{ post.contenu_post|safe|truncatewords_html:10 }}
                        </div>
                        <div class="description-post">
                            <p>
                                {{ post.contenu_post|safe }}
                            </p>
                        </div>
                    </div>
                    <div class="post-details" id="imageCarousel">
                        
                        {% for media in post.mediaspost_set.all %}
                            {% if media.image %}
                                <a href="{{ media.image.url }}" data-lightbox="mygallery" class="img">
                                    <img src="{{ media.image.url }}" class="affiche" alt="Post Image">
                                </a>
                            {% endif %}
                        {% endfor %}

                        {% if post.video %}
                            <video autoplay muted controls loop disablepictureinpicture controlslist="nodownload noplaybackrate" class="img affiche">
                                <source src="{{ post.video.url }}" type="video/mp4">
                            </video>
                        {% endif %}
                    </div>

                    
                </section>

                <div class="infos_followings">
                    <section class="like">
                        <a href="#">
                            <i class="fa fa-thumbs-up primary"></i>
                            <i class="text"> Aimé par</i> 
                            <b class="primary"> {{ post.like_post.count}}</b>
                            <i class="text">membre(s). &nbsp;</i>
                        </a>
                    </section>
        
                    <section class="shares">
                        <a href="#">
                            <i class="fa fa-share-alt primary"></i>
                            <i class="text">Et partagé par</i> 
                            <b class="primary">8 000</b>
                            <i class="text">membres.</i>
                        </a>
                    </section>
                </div>

                <section class="followers">
                    <a class="like-btn" onclick="toggleLike()">
                        <form id="like-form-{{ post.pk }}" method="POST" action="{% url 'likes' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" class="button-like">
                                <span class="like-icon" id="likeIcon{{ post.pk }}">
                                    {% if user.is_authenticated %}
                                        {% if request.user in post.like_post.all %}
                                            <i class="fa fa-thumbs-up primary"></i>
                                        {% else %}
                                            <i class="fa fa-thumbs-up"></i>
                                        {% endif %}
                                    {% else %}
                                        <i class="fa fa-thumbs-up"></i>
                                    {% endif %}
                                    <b class="number-like">{{ post.like_post.count }}</b>
                                </span>
                            </button>
                        </form>
                    </a>
        
                    <a href="{% url 'post_comments' post.id %}">
                        <i class="fa fa-comments">
                            <span class="primary" style="font-weight: bold;">
                                {% if post.nombre_commentaire > 1000 %}
                                    {{ post.nombre_commentaire|divisibleby:1000|floatformat:"0.1" }}k
                                {% else %}
                                    {{ post.nombre_commentaire }}
                                {% endif %}
                            </span>
                        </i>
                    </a>
        
                    <a id="shareButton">
                        <i class="fa fa-share-alt"></i>
                    </a>

                </section>
            </section>

        {% endfor %}

        {% else %}
        <center><p>Aucun poste disponible pour le moment.</p></center>
    {% endif %} 
    
</section>

<section class="popup" id="popup">
    <div class="content-popup">
        <span  class="close" id="closePopup">&times;</span>

        <h2>Partager sur:</h2>

        <a href="whatsapp://send?text=Votre%20message%20ici" class="fa fa-whatsapp whatsapp"><br><span>Whatsapp</span></a>

        <a href="https://www.facebook.com/sharer/sharer.php?u=URL_DU_CONTENU" class="fa fa-facebook facebook"><br><span>Facebook</span></a>

        <a href="https://t.me/share/url=URL_DU_CONTENU&text=VOTRE_TEXTE" class="fa fa-telegram telegram"><br><span>Telegram</span></a>

        <a href="https://www.linkedin.com/sharing/share-offsite/?url=URL_DU_CONTENU" class="fa fa-linkedin linkedin"><br><span>LinkedIn</span></a>

        <a href="https://www.pinterest.com/pin/create/button/?url=URL_DU_CONTENU&description=VOTRE_DESCRIPTION" class="fa fa-pinterest pinterest"><br><span>Pinterest</span></a>

        <label for="#" class="fa fa-link link"><br><span>Copy Link</span></label>

    </div>

</section>