{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon CV</title>

        <!-- Box Icone -->
        <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'assets/icones/font-awesome/css/font-awesome.min.css' %}">

        <link rel="stylesheet" href="{% static 'assets/ressources/styles/cv.css' %}">
    </head>
    <body>
        <button id="boutonRetour">
            <i class="fa fa-arrow-left" aria-hidden="true"> Retour </i>
        </button>
        <div class="container">

            <header>
                <div class="header-content">
                    <h1>John Doe</h1>
                    <p>Développeur Web</p>
                </div>
            </header>
            
            <section class="profile">
                <div class="section-header">
                    <h2>Profil <a href="#" class="fa fa-edit">Editer</a></h2>
                </div>
                <p>
                    <a href="#">
                        Je suis un développeur web passionné par la création de sites web dynamiques et innovants. J'ai une solide expérience dans les langages front-end comme HTML, CSS et JavaScript, ainsi que dans les frameworks comme Bootstrap et React.
                    </a>
                </p>
            </section>

            <section class="experience">
                <div class="section-header">
                    <h2>Expérience Professionnelle <a href="#" class="fa fa-plus">Ajouter</a></h2>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <h3>Développeur Web Junior - Entreprise ABC</h3>
                            <p class="date">Septembre 2021 - Présent</p>
                            <p>Responsable du développement et de la maintenance des sites web de l'entreprise.</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Développeur Web Junior - Entreprise ABC</h3>
                            <p class="date">Septembre 2021 - Présent</p>
                            <p>Responsable du développement et de la maintenance des sites web de l'entreprise.</p>
                        </a>
                    </li>
                </ul>
            </section>

            <section class="education">
                <div class="section-header">
                    <h2>Formation <a href="#" class="fa fa-plus">Ajouter</a></h2>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <h3>Licence en Informatique - Université ABC</h3>
                            <p class="date">Septembre 2018 - Juin 2021</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Baccalauréat Scientifique - Lycée XYZ</h3>
                            <p class="date">Septembre 2016 - Juin 2018</p>
                        </a>
                    </li>
                </ul>
            </section>

            <footer>
                <p>Contact: john.doe@email.com | Téléphone: 0123456789 | Site Web: www.johndoe.com</p>
            </footer>
        </div>

        <script src="{% static 'assets/ressources/scripts/Retour.js' %}"></script>
        <script src="{% static 'assets/algos/scripts/secrete.js' %}"></script>
    </body>
</html>
